.blogs{
    &-box{
        margin: 2rem 0;
        overflow: hidden;
        border: $boder;
    }
    &-content{
        padding: 1.5rem;
        h3{
            margin-top: 1rem;
            font-size: 2rem;
            color: $black-dark;
            text-transform: capitalize;
        }
        p{
            padding: 1rem 0;
            font-size: 1.5rem;
            line-height: 3rem;
            color: $black-light;
        }
    }
    &-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}

.blogs .blogs-slider .blogs-box:hover .blogs-img img{
    transform: scale(1.1);

}


.footer{
    width: 100%;
    &-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
        gap: 1.5rem;
    }
    &-box{
        padding: 1rem 0;
        h3{
            font-size: 2rem;
            color: $black;
            text-transform: capitalize;
            padding: 1rem 0;
        }
        a{
            padding: 1rem 0;
            display: block;
            font-size: 1.5rem;
            color: $black-light;
            text-transform: capitalize;
        }
        i{
            color: $green-light;
            margin-right: 1.5rem;
        }
        a:hover i{
            color: $green-light;
            padding-right: 2rem;
        }
    }

    &-share{
        text-align: center;
        padding: 1rem 0 ;
        a{

            margin-left: 1.5rem;
            font-size: 3rem;
            color: #fff;
            width: 5rem;
            height: 5rem;
            line-height: 5rem;
            background: $green-light;
            border-radius: 50%;
        }
        a:hover{
            background: $green-dark;
            
        }

  }
  &-credit{
      margin-top: 2rem;
      text-align: center;
      padding: 2rem 1rem;
      border-top: $boder;
      font-size: 2rem;
      text-transform: capitalize;
      color: $black-light;
      span{
          color: $green-light;
      }

      
  }

    
}

.loader{
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #f7f7f7;
    // position: absolute;
    position: fixed;
    top: 0 ;
    left: 0;
    right: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    img{
        height: 10rem;
    
    }
}

.loader.active{
    display: none;
}